
<% #= @current_user |> username() %>

<.live_component
  module={RauversionExtension.UI.TrackLive.FormComponent}
  id={@track.id || :new}
  title={@page_title}
  action={@live_action}
  track={@track}
  step={@step}
  current_user={@current_user}
  return_to={routes().track_index_path(@socket, :index)}
/>


